.containerCompte{
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;;
}

h2{
    font-size: 250%;
    font-weight: bold;
    color:  #9E121B;
    margin : 50px;
}

.containerForm{
    width: 90%;
    margin :auto;
    display : flex;
    justify-content: space-between;
}

.subscribe {
    width: 60%;
    min-height: 42vh;
    height: auto;
    background-color: #F6C1C1;
    border-radius: 8px;
}

.rond{
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin: 30px;
    display: none;

}

.connect{
    width: 37%;
    background-color: #F6C1C1;
    border-radius: 8px;


}
input, h3{
    width: 100%;
    padding-left: 10px;
}
h3{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

.subscribe p {
    padding-left: 20px;
}

label{
    width: 100%;
}

.date, .select{
    width : 30%;
    margin: auto;
}

.formulaire{
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 30px;
}
.formItem{
    margin-bottom: 2rem;
}
.formItem label{
    display: block;
    margin-bottom: 10px;
    font-size: 2rem;
}
.formItem input, .select select{
    padding: 0.5rem;
    width: 100%;
    color: grey;
    font-size: 2rem;
    border-radius: 5px
}

.form-check-input{
    align-items: left !important;
}

.underCheck{
    text-align: center;
    margin-bottom: 0.5rem;
    margin-left: 0px !important;
}

.submit {
    width: 30%;
    height: 4rem;
    margin: auto;
    background-color: rgb(117, 188, 117);
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

#formulaire a {
    color: grey;
    text-decoration: underline;
    margin-bottom : 10px;
}


@media screen and (max-width : 800px){
    body {
        background-color: rgb(227, 205, 205)
    }
    .containerForm{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .subscribe{
        width: 90%;
    }
    .date, .select{
        width : 90%;
        margin: auto;
    }

    .submit{
        width: 80%;
    }

    .connect{
        width: 90%;

    }

    .rond{
        display: block;
    }
}