footer{
    width: 100%;
    height:14rem;
    background-color: #2D3436;
    display : flex;
    justify-content: center;

  margin-top : 30px;
}
.title{
  font-size: bold;
  margin-bottom: 5px;
  margin-top : 5px;
  font-size: 14px;
  text-align:justify
}

.left, .middle, .right{
    width: 33%;
    margin-top : 15px;
    margin-left: 20px;
    color : #fff;
}



/* Icon */

.icon i {
  margin : 0 10px 0 ;
}

/* Newsletter */
.content {
    width: 360px;
    height: 40px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    border-radius: 60px;
    overflow: hidden;
}

.subscription {
    position: relative;
    width: 100%;
    height: 100%;
}

.subscription .add-email{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: #230838;
    color: #FFFFFF;
    transition: width .35s ease-in-out,
    background .35s ease-in-out;
}
  
.subscription.done .submit-email {
width: calc(100% - 2px);
    background: #26ad23;
  }
  .subscription .submit-email .before-submit,
  .subscription .submit-email .after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
      opacity .35s ease-in-out;
  }
  
  .subscription.done .submit-email .before-submit,
  .subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
  }
  
  .subscription .submit-email .after-submit {
    transition-delay: .35s;
  }
  
  .subscription:not(.done) .submit-email .before-submit,
  .subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
  }


  @media screen and (max-width : 800px){

    footer{
      display: flex;
      flex-direction: column;
      height: auto;
      padding-bottom: 20px;
      justify-content: center;
    }

    .left, .middle, .right{
      width: 100%;
      margin: auto;
      color : #fff;
      text-align: center;
    }
      .left h3, .middle h3, .right h3{
      text-align: center;
    }
    .right{
      margin-left: 20px;
    }
    .icon{
      margin-left : 100px;
      margin-top : 30px;
    }

  }