.filAriane{
    color: rgba(0, 0, 0, 0.99);
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 10px;
}

.carouselImage {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    /* background-color: aqua; */
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 30px;
}
.carouselImage img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.homeContainer h1{
    text-align: center;
    text-decoration: underline;
    color: #9E121B;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
}

hr{
    width: 50%;
    margin: auto;

}

.nosVins {
    margin-top: 30px;
    text-align: center;
    color: rgb(98, 30, 30);
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 30px;;
}
.aide{
    text-align: center;
    font-weight: bold;
}

.blocCategory{
    display : flex;
    justify-content : space-between;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 50px;
}


.bloc{
    width: 23%;
    height: 250px;
    background-color: grey;
    border-radius:10px;
}

.bloc1{
    background: url('../asset/vin-rouge.jpg') center center no-repeat;
    background-size: cover;
}

.bloc2{
    background: url('../asset/vin-blanc.jpg') center center no-repeat;
    background-size: cover;
}

.bloc3{
    background: url('../asset/vin-rose.jpg') center center no-repeat;
    background-size: cover;
}

.bloc4{
    background: url('../asset/vin-petillant.jpg') center center no-repeat;
    background-size: cover;
}

.g-link{
    width: 23%;
    height: 250px;
}


.g-content{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1rem; 
}

.g-content:hover{
    background-color: rgba(255, 255, 255, 0.816);
    background-size: cover;
    color: var(--gray);
}



.blocProduit{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coffret{
    width: 95%;
    background-color: #D0CDCD;
    margin-bottom: 20px ! important;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.gauche{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.droite{
    width: 50%;
    border-left: solid 1px rgb(214, 65, 65) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.t-coffret {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #9e121b;

}
.p-coffret {
    text-align: center;
    font-size: 20px;
    margin: 10px 50px 0 50px;
    font-style: italic;
}
.p-coffret span{
    font-weight: bold;
    font-style: normal;
    border-bottom: 6px;
}

.imageCoffret{
    width: 40%;
    height: 280px;
    background-color: rgb(179, 176, 179);
    margin : auto;
}

.category{
    width: 35%;
    height: 50px;
    margin: auto;
    border-radius: 8px;
    background-color: #9e121b;
    color: white;
    font-size : 20px;
}

.atelier{
    width: 95%;
    min-height: 300px;
    background-color: #F6C1C1;
    margin-bottom: 20px ! important;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: row;
}


@media screen and (max-width : 800px){
    body {
        background-color: rgb(227, 205, 205)
    }
    .blocCategory{
        flex-direction: column;
        align-items: center;
    }
    .bloc{
        width: 100%;
        margin-bottom: 20px;
    }
    .g-link{
        width: 90%;
        border-radius : 8px;
    }

    .coffret, .atelier{
        flex-direction: column;
        align-items: center;
        border: none;
        width: 90%;
        padding-bottom: 10px;
    }
    .gauche, .droite{
        width: 100%;
        padding-top: 10px;
    }
    .imageCoffret{
        width: 80%;
        border-radius: 6px;
    }


}


