@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: roboto, "Roboto", sans-serif;
}
html{
    font-size: 62.5%;/* 1rem = 10px*/
    font-family: roboto,sans-serif;
}

header{
    background-color: #2D3436;
    height: 11rem;
    width: 100%;
    display: flex;
}
.logoMobile {
    display: none;
}
.nav{
    display: flex;
    line-height: 11rem;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16%;
    width:80%; 
    /* display: block; */
}
.nav ul{
    display: flex;
    flex-direction: row;
}

.nav ul li{
    text-decoration: none;
    list-style: none;
    margin: 0 6rem 0; 
}
.nav ul li a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 8px;
}


.logo{
    margin-top: 10px !important;
}

.icon{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* line-height: 11rem; */
    margin-right: 20px;
    margin : auto
}

.basket, .user {
    margin-right: 40px;
}
.basket a, .user a{
    color: #fff;
    font-family: roboto, arial, helvetica, sans-serif;
}

li a:hover{
    background-color: #530505;
    border-radius: 4px;
    text-decoration: underline;
}
.logo a:hover{
    background-color: #530505;
    border-radius: 4px;
}

.filAriane{
    color: rgba(0, 0, 0, 0.99);
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 10px;
}

.navbar-mobile{
    display: none;
}

.navbar-mobile i{
    position: fixed;
    z-index: 9999;
    top: 9px;
    right: 15px;
    font-size: 3rem;
    color: #9E121B;
}
.modal{
    transition: top 0.9s;
    background-color: #d88585;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    opacity: 0.9;
}
.navbar-mobile .navbar-mobile-list{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar-mobile .navbar-mobile-list a{
    font-size: 4rem;
    font-weight: 800;
    color: #1E2337;
    padding: 2rem;
    text-align: center;
}
.iii{
    font-style: italic;
}
.change-modal{
    top:0
}

@media screen and (max-width : 800px){
    .nav, .logo, .icon {
        display: none;
    }
    .navbar-mobile, .logoMobile{
        display: block;
    }
}